@media (max-width: 1100px) {
  .header__container--links {
    margin-right: 0 !important;
  }
  .header__container--social {
    flex-direction: column;
  }
  .header__container--social .header__container--social--content .header__social--gmail {
    margin-right: 0 !important;
  }
  main .aboutUS {
    padding: 0 5px;
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: 1fr 1fr !important;
    gap: 30px;
  }
  main .aboutUS .aboutUS__container {
    max-width: 354px !important;
  }
}
@media (max-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr !important;
  }
  .cards .cards__container {
    max-width: 354px !important;
  }
}
@media (max-width: 725px) {
  .cards {
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr !important;
  }
  .cards .cards__container {
    max-width: 450px !important;
  }
  .cards .cards__container .cards__img--1 {
    background-image: url(./adaptive-img/portfolio-adaptive-1.png) !important;
  }
  .cards .cards__container .cards__img--2 {
    background-image: url(./adaptive-img/portfolio-adaptive-2.png) !important;
  }
  .cards .cards__container .cards__img--3 {
    background-image: url(./adaptive-img/portfolio-adaptive-3.png) !important;
  }
  .cards .cards__container .cards__img--4 {
    background-image: url(./adaptive-img/portfolio-adaptive-4.png) !important;
  }
  .cards .cards__container .cards__img--5 {
    background-image: url(./adaptive-img/portfolio-adaptive-5.png) !important;
  }
  .cards .cards__container .cards__img--6 {
    background-image: url(./adaptive-img/portfolio-adaptive-6.png) !important;
  }
  .cards .cards__container .cards__img--7 {
    background-image: url(./adaptive-img/portfolio-adaptive-7.png) !important;
  }
  .cards .cards__container .cards__img--8 {
    background-image: url(./adaptive-img/portfolio-adaptive-8.png) !important;
  }
  .cards .cards__container .cards__img--9 {
    background-image: url(./adaptive-img/portfolio-adaptive-9.png) !important;
  }
}
@media (max-width: 580px) {
  .portfolio {
    max-width: 326px !important;
    flex-wrap: wrap;
    justify-content: flex-start !important;
    padding-left: 15px;
    gap: 15px;
    margin: 0 !important;
    padding-top: 60px;
  }
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  border: none;
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

header {
  padding: 0 20px;
}
header .header__container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header .header__container .header__logo {
  padding: 24px 0;
}
header .header__container .header__container--links {
  width: 100%;
  max-width: 285px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 200px;
}
header .header__container .header__container--links .header__links {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #212121;
  padding: 24px 0 20px 0;
  border-bottom: 4px solid transparent;
  transition: color 0.3s ease, border-color 0.3s ease;
}
header .header__container .header__container--links .header__links:hover {
  color: #2196F3;
  border-bottom-color: #2196F3;
  border-radius: 2px;
}
header .header__container .header__container--social {
  display: flex;
}
header .header__container .header__container--social .header__container--social--content .header__social--gmail {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #757575;
  margin-right: 30px;
}
header .header__container .header__container--social .header__container--social--content .header__social--gmail:hover path {
  color: #2196F3;
  fill: #2196F3;
}
header .header__container .header__container--social .header__container--social--content .header__social--gmail:hover {
  color: #2196F3;
}
header .header__container .header__container--social .header__container--social--content .header__social--gmail .header__social--svg {
  margin-right: 10px;
}
header .header__container .header__container--social .header__container--social--content .header__social--phone {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #757575;
  display: flex;
  align-items: center;
}
header .header__container .header__container--social .header__container--social--content .header__social--phone:hover path {
  color: #2196F3;
  fill: #2196F3;
}
header .header__container .header__container--social .header__container--social--content .header__social--phone:hover {
  color: #2196F3;
}
header .header__container .header__container--social .header__container--social--content .header__social--phone .header__social--svg {
  margin-right: 10px;
}

main .aboutUS {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding-top: 80px;
}
main .aboutUS .aboutUS__container {
  width: 100%;
  max-width: 270px;
  margin: 0 auto;
}
main .aboutUS .aboutUS__container .aboutUS__svg {
  background-color: #F5F4FA;
  display: flex;
  justify-content: center;
}
main .aboutUS .aboutUS__container .aboutUS__svg .svg {
  padding: 25px 0;
}
main .aboutUS .aboutUS__container .aboutUS__title {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
}
main .aboutUS .aboutUS__container .aboutUS__text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.biznes {
  background: url("../Web/biznes.png") no-repeat center center;
  position: relative;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.biznes .biznes__blackout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(47, 48, 58, 0.4);
  z-index: 1;
}
.biznes .biznes__container {
  position: relative;
  z-index: 2;
}
.biznes .biznes__container .biznes__title {
  font-family: Roboto;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  width: 696px;
  margin-top: 200px;
}
.biznes .biznes__container .biznes__button {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  background-color: #2196F3;
  border: none;
  cursor: pointer;
  padding: 10px 32px;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin: 30px 0 200px 0;
}
.biznes .biznes__container .biznes__button:hover {
  background-color: #125083;
}

.back-drop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  transition: opacity 0.3s ease;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: white;
  padding: 10px;
  transition: all 2s ease;
  border-radius: 4px;
}

.send-it {
  color: white;
  background-color: #188CE8;
  cursor: pointer;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  margin-top: 30px;
}

.closeModalBtn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeModalBtn:hover,
.closeModalBtn:focus {
  color: #2196F3;
  text-decoration: none;
  cursor: pointer;
}

.closeModalBtn:hover {
  animation: spin 200ms linear;
}

@keyframes spin {
  100% {
    transform: rotate(180deg);
  }
}
.closeModalBtn {
  position: relative;
}

.closeModalBtn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 50%;
}

.forms {
  width: 448px;
  height: 40px;
  border-radius: 4px 0px 0px 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 40px;
  box-sizing: border-box;
}

.forms:hover {
  border: 1px solid #2196F3;
}

.zgoda {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

#comment {
  width: 448px;
  height: 120px;
}

#comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}

#comment::placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}

.talk {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 12px;
}

input[type=checkbox] {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  border: 2px solid black;
}

label:not(.zgoda) {
  cursor: pointer;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  letter-spacing: 0.01em;
  display: block;
  margin-bottom: 4px;
  text-align: left;
  padding-left: 41px;
  color: #757575;
}

.dogovor {
  color: deepskyblue;
  text-decoration: underline;
}

.form-group {
  margin-bottom: 10px;
}

.form-group-inline .zgoda {
  margin-left: 7px;
  display: inline-block;
  color: #757575;
  padding-top: 20px;
}

.input-with-icon {
  position: relative;
  display: inline-block;
}

.input-with-icon .icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.input-with-icon svg {
  width: 18px;
  height: 18px;
}

.team {
  background-color: #F5F4FA;
}
.team .team__container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.team .team__container .team__title {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 95px 0 50px 0;
}
.team .team__container .team__container--cards {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}
.team .team__container .team__container--cards .team__card {
  width: 100%;
  max-width: 270px;
  margin: 0 auto;
  background-color: #FFFFFF;
  padding-bottom: 40px;
}
.team .team__container .team__container--cards .team__card .team__card--img {
  width: 270px;
}
.team .team__container .team__container--cards .team__card .team__card--name {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 30px 0 10px 0;
  color: #212121;
}
.team .team__container .team__container--cards .team__card .team__card--work {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
  margin-bottom: 16px;
}
.team .team__container .team__container--cards .team__card--media {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}
.team .team__container .team__container--cards .team__card--media--sketch {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.team .team__container .team__container--cards .team__card--media--sketch:hover {
  background: #2196F3;
}
.team .team__container .team__container--cards .team__card--media--sketch--icon {
  width: 20px;
  height: 20px;
  padding-top: 12px;
  padding-left: 12px;
}
.team .team__container .team__container--cards .team__card--media--sketch--icon:hover path {
  fill: white;
}

.apps {
  background: #FFFFFF;
  padding: 100px 0;
}
.apps__container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.apps__title {
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}
.apps__imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
}
.apps__img {
  flex: 1 1 calc(33.333% - 20px);
  background-color: #FFFFFF;
  text-align: center;
  overflow: hidden;
}
.apps__img img {
  width: 100%;
  height: auto;
  display: block;
}
.apps__img--text {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 15px;
  color: #FFFFFF;
  margin-top: -70px;
  height: 70px;
  width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: rgba(47, 48, 58, 0.8);
}

.clients {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 100px;
}
.clients__container {
  width: 1170px;
  height: 184px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clients__title {
  width: 297px;
  height: 42px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 20px;
  color: #212121;
}
.clients__container--permanent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 40px;
}
.clients__container--permanent--item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 2px solid #AFB1B8;
  border-radius: 5px;
  transition: border-color 0.3s;
}
.clients__container--permanent--item:hover {
  border: 2px solid #2196F3;
}

.portfolio {
  width: 100%;
  max-width: 575px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 94px;
}
.portfolio .portfolio__link {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  background-color: #F5F4FA;
  padding: 6px 22px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s;
}
.portfolio .portfolio__link:hover {
  background-color: #2196F3;
  color: #fff;
}

.portfolio {
  width: 100%;
  max-width: 575px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 94px;
}
.portfolio .portfolio__link {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  background-color: #F5F4FA;
  padding: 6px 22px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s;
}
.portfolio .portfolio__link:hover {
  background-color: #2196F3;
  color: #fff;
}

.cards {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 32px;
  margin-bottom: 94px;
  gap: 32px;
}
@keyframes showUp {
  0% {
    transform: translateY(100);
  }
  100% {
    transform: translateY(0);
  }
}
.cards .cards__container {
  width: 100%;
  max-width: 370px;
  margin: 0 auto;
}
.cards .cards__container:hover .cards__overlay {
  animation: showUp 1500ms ease-in-out forwards;
}
.cards .cards__container .cards__img--1 {
  position: relative;
  background-image: url(/Img-6/portfolio-1.png);
  background-repeat: no-repeat;
  height: 294px;
  overflow: hidden;
}
.cards .cards__container .cards__img--1 .cards__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 1500ms ease-in-out;
  background-color: rgba(33, 150, 243, 0.8980392157);
}
.cards .cards__container .cards__img--1 .cards__overlay .cards__overlay--text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
  width: 322px;
  padding: 63px 24px;
}
.cards .cards__container .cards__img--2 {
  position: relative;
  background-image: url(/Img-6/portfolio-2.png);
  background-repeat: no-repeat;
  height: 294px;
  overflow: hidden;
}
.cards .cards__container .cards__img--2 .cards__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 1500ms ease-in-out;
  background-color: rgba(33, 150, 243, 0.8980392157);
}
.cards .cards__container .cards__img--2 .cards__overlay .cards__overlay--text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
  width: 322px;
  padding: 63px 24px;
}
.cards .cards__container .cards__img--3 {
  position: relative;
  background-image: url(/Img-6/portfolio-3.png);
  background-repeat: no-repeat;
  height: 294px;
  overflow: hidden;
}
.cards .cards__container .cards__img--3 .cards__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 1500ms ease-in-out;
  background-color: rgba(33, 150, 243, 0.8980392157);
}
.cards .cards__container .cards__img--3 .cards__overlay .cards__overlay--text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
  width: 322px;
  padding: 63px 24px;
}
.cards .cards__container .cards__img--4 {
  position: relative;
  background-image: url(/Img-6/portfolio-4.png);
  background-repeat: no-repeat;
  height: 294px;
  overflow: hidden;
}
.cards .cards__container .cards__img--4 .cards__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 1500ms ease-in-out;
  background-color: rgba(33, 150, 243, 0.8980392157);
}
.cards .cards__container .cards__img--4 .cards__overlay .cards__overlay--text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
  width: 322px;
  padding: 63px 24px;
}
.cards .cards__container .cards__img--5 {
  position: relative;
  background-image: url(/Img-6/portfolio-5.png);
  background-repeat: no-repeat;
  height: 294px;
  overflow: hidden;
}
.cards .cards__container .cards__img--5 .cards__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 1500ms ease-in-out;
  background-color: rgba(33, 150, 243, 0.8980392157);
}
.cards .cards__container .cards__img--5 .cards__overlay .cards__overlay--text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
  width: 322px;
  padding: 63px 24px;
}
.cards .cards__container .cards__img--6 {
  position: relative;
  background-image: url(/Img-6/portfolio-6.png);
  background-repeat: no-repeat;
  height: 294px;
  overflow: hidden;
}
.cards .cards__container .cards__img--6 .cards__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 1500ms ease-in-out;
  background-color: rgba(33, 150, 243, 0.8980392157);
}
.cards .cards__container .cards__img--6 .cards__overlay .cards__overlay--text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
  width: 322px;
  padding: 63px 24px;
}
.cards .cards__container .cards__img--7 {
  position: relative;
  background-image: url(/Img-6/portfolio-7.png);
  background-repeat: no-repeat;
  height: 294px;
  overflow: hidden;
}
.cards .cards__container .cards__img--7 .cards__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 1500ms ease-in-out;
  background-color: rgba(33, 150, 243, 0.8980392157);
}
.cards .cards__container .cards__img--7 .cards__overlay .cards__overlay--text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
  width: 322px;
  padding: 63px 24px;
}
.cards .cards__container .cards__img--8 {
  position: relative;
  background-image: url(/Img-6/portfolio-8.png);
  background-repeat: no-repeat;
  height: 294px;
  overflow: hidden;
}
.cards .cards__container .cards__img--8 .cards__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 1500ms ease-in-out;
  background-color: rgba(33, 150, 243, 0.8980392157);
}
.cards .cards__container .cards__img--8 .cards__overlay .cards__overlay--text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
  width: 322px;
  padding: 63px 24px;
}
.cards .cards__container .cards__img--9 {
  position: relative;
  background-image: url(/Img-6/portfolio-9.png);
  background-repeat: no-repeat;
  height: 294px;
  overflow: hidden;
}
.cards .cards__container .cards__img--9 .cards__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 1500ms ease-in-out;
  background-color: rgba(33, 150, 243, 0.8980392157);
}
.cards .cards__container .cards__img--9 .cards__overlay .cards__overlay--text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
  width: 322px;
  padding: 63px 24px;
}
.cards .cards__container .cards__text--container {
  padding: 20px 0 20px 24px;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-color: #EEEEEE;
}
.cards .cards__container .cards__text--container .cards__title {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
}
.cards .cards__container .cards__text--container .cards__text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
}

.footer {
  background-color: #2F303A;
}
.footer__container {
  width: 1600px;
  height: 252px;
  top: 2676px;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.footer__container--first {
  width: 145px;
  height: 31px;
  padding-top: 60px;
}
.footer__container--first--logo {
  padding-top: 20px;
  width: 231px;
  height: 81px;
}
.footer__container .footer__adress {
  color: white;
}
.footer__container .footer__email,
.footer__container .footer__phone {
  color: rgba(255, 255, 255, 0.6);
}
.footer__container .footer__email:hover,
.footer__container .footer__phone:hover {
  color: #2196F3;
}
.footer__container--second {
  width: 206px;
  height: 80px;
}
.footer__container--second--title {
  font-family: Roboto;
  color: #FFFFFF;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  padding-top: 70px;
  font-size: 14px;
}
.footer__container--second--media {
  width: 256px;
  height: 44px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 20px;
}
.footer__container--second--media--sketch {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1019607843);
  border-radius: 50%;
}
.footer__container--second--media--sketch:hover {
  background: #2196F3;
}
.footer__container--second--media--sketch--link-2 {
  width: 20px;
  height: 20px;
  padding-top: 12px;
  padding-left: 12px;
}
.footer__container--third {
  width: 570px;
  height: 86px;
  border-radius: 4px 0px 0px 0px;
  padding-top: 70px;
}
.footer__container--third--title {
  font-family: Roboto;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 0.03em;
}
.footer__container--third--content {
  padding-top: 20px;
}
.footer__container--third--content--input {
  width: 358px;
  height: 50px;
  border-radius: 4px 0px 0px 0px;
  background-color: #2F303A;
  border: 2px solid rgba(255, 255, 255, 0.3019607843);
}
.footer__container--third--content--button {
  background-color: #2196F3;
  color: #FFFFFF;
  width: 200px;
  height: 50px;
  border-radius: 4px 0px 0px 0px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
}